node_modules/
wikidata/
wp1/
wp2/
nanowiki/
aop/
diamonds/
assertions/
nanocommons/
nanosolveit/
smartnanotox/
ambit/
vhp4safety/
all.ttl
open.ttl
open.txt
*.kate-swp
*.uris
*.json
*.rq
*.shex
shexValidation.log
sbd4nano/
enanomapper-full.*
robot
robot.jar
